

/* tools */
.justify {
	text-align: justify;
}
.pad {
	padding: 70px 0px 20px 0px;
}
.sidepad {
	padding: 30px 50px 20px 50px;
}
.indent {
	text-indent:50px;
}
.border {
	padding:2px;
  border:2px solid black;
	backgrou/nd: #333;
}

.round {
 		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;	
		-moz-border-radius: 10px;
		border-radius: 10px;
}
/* top-left rounded corner */
.top-left-round {
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;	
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
/* top-right rounded corner */
.top-right-round {
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;	
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
/* top-right rounded corner */
/* bottom-left rounded corner */
.bottom-left-round {
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
/* bottom-right rounded corner */
.bottom-right-round {
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}	

.center {
	text-align: center;
}
/* Text */
h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
}
h2 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 40px;
}
h2 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
}
 
p {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 15px;
	line-height: 25px;
}





/* PICS */
.listedpic {
	float: left;
	padding: 15px;
	width: 300px;
	height: 300px;
	backgrou/nd-color: #FFFFFF;
}




 /* <!-- */
  /* General styles */
  body {
      margin:0;
      padding:0;
      border:0;			/* This removes the border around the viewport in old versions of IE */
      width:100%;
      background:#fff;
      min-width:600px;    /* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
  }
  p {
      margin:.4em 0 .8em 0;
      padding:0;
  }

 
img {
	padding: 2px;
	border: 1px solid #999999;
}


/* Navigation */

#nav {
	background-color: #3C8DC5;
	/* top-left rounded corner */
	
		-webkit-border-top-left-radius: 10px;
		-khtml-border-radius-topleft: 10px;	
		-moz-border-radius-topleft: 10px;
		border-top-left-radius: 10px;
	
	/* top-right rounded corner */
	
		-webkit-border-top-right-radius: 10px;
		-khtml-border-radius-topright: 10px;	
		-moz-border-radius-topright: 10px;
		border-top-right-radius: 10px;
	
	padding: 2px 4px;
	float: left;
	
	margin-left: 200px;
	margin-top: 20px;
	
}


/* Header styles */

#header {
      clear:both;
      float:left;
      width:100%;
			background: #B2D1E5;		
  }

#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
      margin:0;
}
#header ul {
		margin-top: 0;
		margin-bottom: 0;
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    ma/rgin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;

}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    bac/kground:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    le/ft:15px;
		line-hei/ght:1.3em;
	
}
#header ul li a:hover {
    back/ground:#369;
	col/or:#fff;
}

#header ul li a span {
    display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
	
}
/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
      width:100%;			/* width of whole page */

	overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
    background:#3C8DC5;
		
}
  .leftmenu .colright {
      float:left;
      width:200%;
	position:relative;
	left:200px;
      background:#E9F2F9;



  }
  .leftmenu .col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:200px;
    padding-bottom:1em;
		
}
.leftmenu .col1 {
      margin:0 15px 0 215px;
    position:relative;
    right:100%;
    overflow:hidden;
		
}
  .leftmenu .col2 {
      float:left;
      width:170px;
      position:relative;
      right:185px;

  }
/* Footer styles */
#footer {
      clear:both;
      float:left;
      width:100%;
	border-top:3px solid #6FB7E9;;
	background: #B2D1E5;
	position: fixed; /* CHANGE IF I WANT TO LATER*/
	bottom: 0;
	
  }
  #footer p {
      padding:10px;
      margin:0;
  }
  /* --> */

/* pics */

/* Sidebar */
ul.sidebar{
	list-style: none;
	margin-left: -20px;
}
h2.sidebar {
	text-align: center;
	padding: 20px 0 0 0;
}


.sidebar a {
    
    color:#000000;
    text-decoration:none;
}
.sidebar a:hover {
	color: #E9F2F9;
}
.sidebar a:visited:hover {
	color: #E9F2F9;
}
.sidebar a:visited {
  color:#000000;
}


/* Links */

a {
	color: #006600;
  text-decoration: underline;
}

a:hover {
  color: #000000;
	
  
}

a:visited {
  color: #004400;
}



/* ALERTS */ 
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd; margin-top: 15px;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;} 

