<% if signed_in?%>
	<%= render 'shared/index'%>
<% else%>
	<h1> Welcome to College Collage!</h1>
	<center><br><br><br><br><br><br>
	<%= link_to 'Please Sign Up!', signup_path, :class => "signup_button round" %>
	</center>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br>